* {
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
  }
   
  body {
    margin-bottom: 300px;
  }
   
  h1 {
    color: SeaGreen;
  }

  h2 {
    color: rgb(21, 39, 233);
  }

  h3 {
    color: lightcoral;
  }
   
  p {
    font-size: 18px;
    
  }
   
   
  a {
    text-decoration: none;
  }
